mixin mixinHeadCell(cell, escapeAttr)
  - var attr = escapeAttr(cell.attributes)
  div.th&attributes(attr)(class=cell.classes)
    if (cell.html)
      != cell.html
    else
      = cell.value

mixin mixinCell(cell, escapeAttr)
  - var attr = escapeAttr(cell.attributes)
  div.td&attributes(attr)(class=cell.classes)
    if (cell.html)
      != cell.html
    else
      = cell.value


mixin mixinGroup(group, cell, escapeAttr)
  case group
    when 'head'
      +mixinHeadCell(cell, escapeAttr)
    when 'body'
    when 'foot'
      +mixinCell(cell, escapeAttr)

mixin mixinRow(row, group, escapeAttr)
  - var attr = escapeAttr(row.attributes)
  - var stickyCells = (row.cells || []).filter(c => c.sticky);
  - var nonStickyCells = (row.cells || []).filter(c => !c.sticky);
  div.tr&attributes(attr)(class=row.classes)
    .sticky-column-container
      .sticky-column
        each cell in stickyCells
          +mixinGroup(group, cell, escapeAttr)
    .non-sticky-column-container
      .non-sticky-column
        each cell in nonStickyCells
          +mixinGroup(group, cell, escapeAttr)


mixin mixinRows(rows, group, escapeAttr)
  each row in rows || []
    +mixinRow(row, group, escapeAttr)