-
  var tableStyle = {
    'border-collapse': 'collapse',
    'margin': 0,
  };

.table-container.flex-layout(role='grid')&attributes(dataTableAttributes)
  div.table.data-table(style=tableStyle, class=classes)
    div.thead.header
    div.tbody(role='rowgroup')
      div.tr.top-filler(role='presentation')
      div.tr.bottom-filler(role='presentation')
    div.tfoot.footer
