-
  var tableStyle = {
    'border-collapse': 'collapse',
    'margin': 0,
    'table-layout': 'fixed',
  };

.table-container.flex-layout(role='grid')&attributes(dataTableAttributes)
  div.table.sticky-header(style=tableStyle, class=classes)&attributes(headerAttributes)
    div.thead.header
  .sticky-header-filler
  div.table.data-table(style=tableStyle, class=classes)
    div.tbody(role='rowgroup')
      div.tr.top-filler(role='presentation')
      div.tr.bottom-filler(role='presentation')
    div.tfoot.footer

