include ./table-mixins.jade

.table-container
  if stickyHeader
    table.table.table-bordered.sticky-header(style=stickyHeader.style)
      colgroup.column-group
      thead.header
  table.table.table-bordered(style=style)
    colgroup.column-group
    if !stickyHeader
      thead.header
    tbody
      tr.top-filler
    tbody.list-container
    tbody
      tr.bottom-filler
    tfoot

