mixin mixinHeadCell(cell)
  th&attributes(cell.attributes)(class=cell.classes)
    != cell.html

mixin mixinBodyCell(cell)
  td&attributes(cell.attributes)(class=cell.classes)
    != cell.html

mixin mixinFootCell(cell)
  td&attributes(cell.attributes)(class=cell.classes)
    != cell.html

mixin mixinRow(row, group)
  tr&attributes(row.attributes)(class=row.classes)
    each cell in row.cells || []
      case group
        when 'head'
          +mixinHeadCell(cell)
        when 'body'
          +mixinBodyCell(cell)
        when 'foot'
          +mixinFootCell(cell)

mixin mixinRows(rows, group)
  each row in rows || []
    +mixinRow(row, group)

