-
  var tableStyle = {
    'border-collapse': 'collapse',
    'margin': 0,
    'table-layout': 'fixed',
  };

.table-container
  table.table.table-bordered.sticky-header(style=tableStyle)
    colgroup.column-group
    thead.header
  .sticky-header-filler
  table.table.table-bordered(style=tableStyle)
    colgroup.column-group
    tbody
      tr.top-filler
      tr.bottom-filler
    tfoot.footer

