-
  var tableStyle = {
    'border-collapse': 'collapse',
    'margin': 0,
  };

.table-container
  table.data-table(style=tableStyle, class=classes, role='grid')
    colgroup.column-group
    thead.header
    tbody  
      tr.top-filler(role='presentation')
      tr.bottom-filler(role='presentation')
    tfoot.footer
