-
  var tableStyle = {
    'border-collapse': 'collapse',
    'margin': 0,
  };

.table-container
  table.table.table-bordered.fixed-header(style=tableStyle)
    colgroup.column-group
    thead.header
  .viewport

