-
  var tableStyle = {
    'border-collapse': 'collapse',
    'margin': 0,
    'table-layout': 'fixed',
  };

.table-container
  .fixed-header
    table.fixed-header(style=tableStyle, class=classes, role='grid')&attributes(headerAttributes)
      colgroup.column-group
      thead.header
  .viewport
    table.data-table(style=tableStyle, class=classes, role='grid')&attributes(dataTableAttributes)
      colgroup.column-group
      tbody
        tr.top-filler(role='presentation')
        tr.bottom-filler(role='presentation')
      tfoot.footer
