-
  var tableStyle = {
    'border-collapse': 'collapse',
    'margin': 0,
    'table-layout': 'fixed',
  };

-
  var headerStyle = {
    'border-collapse': 'collapse',
    'margin': 0,
    'table-layout': 'fixed',
    'position': 'relative',
    'z-index': 100,
  };

.table-container
  table.table.table-bordered.sticky-header(style=headerStyle)
    colgroup.column-group
    thead.header
  table.table.table-bordered(style=tableStyle)
    colgroup.column-group
    tbody
      tr.top-filler
    tbody.list-container
    tbody
      tr.bottom-filler
    tfoot

