.container-element-box {
  width: 1200px;
  height: 600px;

  .container-element-viewport {
    width: 50%;
    height: 100%;
    float: left;
  }

  .container-jsdata {
    width: 48%;
    height: 100%;
    float: right;
    overflow: auto;
  }
}

table.table {
  thead {
    background: lavender;
  }
}

col {
  width: 120px;
}

tr.row-buffer-changed {
  background: LightPink;
}

tr.row-buffer-committed {
  background: LightGreen;
}
