doctype html
html(lang="en")
  head
    title= title
  body(style="padding-top: 70px")
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid.navbar-container
        .navbar-header
          .navbar-brand New Grid Demo
    h1 Element Viewport (data source: odata / js-data)
    .container-element-box
      .container-element-viewport
      .container-jsdata
    h1.title-window-viewport Window Viewport (data source: memory)
    .container-window-viewport
    .container-window-pagination

    script(type="application/javascript", src=bundle)
