doctype html
html(lang="en")
  head
    title= title
  body
    .container
      .row
        .grid-root
        .pager-root
    .container-map
      #myMap
    script(type="application/javascript", src="http://www.bing.com/api/maps/mapcontrol")
    script(type="application/javascript", src=bundle)
