doctype html
html(lang="en")
  head
    title= title
  body(style="padding-top: 70px")
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid.navbar-container
        .navbar-header
          .navbar-brand Projection Grid vNext
    h1 Multiple Selection
    .grid-container
    script(type="application/javascript", src=bundle)
