span(class='foot-btn')
  button(class='btn btn-primary create') CREATE
span(class='foot-btn')
  button(class='btn btn-primary undo') UNDO
span(class='foot-btn')
  button(class='btn btn-primary redo') REDO
span(class='foot-btn')
  button(class='btn btn-success commit') COMMIT
