if value.selectable
  if value.single
    input.select-row(type='radio', checked=value.checked, aria-labelby=value.labelbyId)
  else
    input.select-row(type='checkbox', checked=value.checked, aria-labelby=value.labelbyId)
else
  span.unselectable
