if checked
  if disabled
    input.column-checkbox(type="checkbox" checked disabled)
  else
    input.column-checkbox(type="checkbox" checked)
else
  if disabled
    input.column-checkbox(type="checkbox" disabled)
  else
    input.column-checkbox(type="checkbox")