doctype html
html(lang="en")
  head
    title= title
  body
    .container
      .row
        #grid_toolbar_host_a
        #pagination_host_a
        #grid_host_a
        #pager
    script(type='text/javascript', src=bundle)
