doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet", type="text/css", href="../../node_modules/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="example.css")
  body
    .container
      .row
        #grid_toolbar_host_a
        #pagination_host_a
        #grid_host_a
        #pager
    script(type='text/javascript', src=bundle)
