.column-tri-state-checkbox {
  border: 1px solid rgba(155,155,155,0.57);
  border-radius: 1px;
  height: 21px;
  margin: 0 1px;
  outline: 0;
  vertical-align: text-bottom;
  width: 21px;
}

.column-tri-state-checkbox > span.glyphicon {
  left: 3px;
}
