doctype html
html(lang="en")
  head
    title= title
  body
    h1 Element Viewport
    .container-element-viewport
    h1 Window Viewport
    .container-window-viewport
    script(type="application/javascript", src=bundle)
