doctype html
html(lang="en")
  head
    title= title
  body(style="padding-top: 70px")
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid.navbar-container
        .navbar-header
          .navbar-brand Sticky Header Demo
    h1 Element Viewport
    .container-element-viewport
    h1.title-window-viewport Window Viewport
    .container-window-viewport
    script(type="application/javascript", src=bundle)
