form.form-inline.grid-popup-editor(role='dialog')
  input.form-control.editor(type='text', value=value)
  &nbsp
  button.btn.btn-primary.save(type='button')=saveButtonText
  &nbsp
  button.btn.btn-default.cancel(type='button')=cancelButtonText
