form.form-inline(style='padding: 5px; background: #e0e0e0')
  input.form-control.editor(type='text', value=value)
  &nbsp
  button.btn.btn-primary.save(type='button')=saveButtonText
  &nbsp
  button.btn.btn-default.cancel(type='button')=cancelButtonText
